.section--banner {
    padding: 1.9rem 0 0;
    text-align: center;
}

@media (min-width: 769px) {
    .section--banner {
        margin-bottom: -1.78rem;
    }
}

.banner {
    display: inline-flex;
    align-items: center;
    margin: auto;
    padding: 0.6rem 1rem 0.7rem;
    color: #ffffff;
    font-size: 0.78rem;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    text-decoration: none;
    background-color: #a56cb9;
    border-radius: 8px;
}

.banner:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #8c619b;
}

.banner h2 {
    color: #ffffff;
    font-size: 1.5rem;
    line-height: 1.2;
}


@media (min-width: 410px) {
    .banner h2 {
        font-size: 1.8rem;
    }
}
