/* Header */

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.header__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 11vw;
    min-height: 52px;
    background-color: rgba(255, 255, 255, 0);
    transition: 0.6s;
}

.header__logo {
    flex: none;
}

.logo__image {
    height: 32px;
    width: auto;
}

.header--sticky {
    position: fixed;
    z-index: 100;
}

.header--sticky .header__content {
    height: 52px;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 3px 4px 0 rgb(0 0 0 / 16%);
}

.header--sticky .logo__image {
    height: 32px;
    width: auto;
    filter: invert(1);
}

.header__links {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-size: 0.8889rem;
    font-weight: 600;
}

.links__link {
    display: block;
    color: #fff;
    text-decoration: none;
    opacity: 0.7;
}

.links__link:hover {
    opacity: 1;
    color: #fff;
    text-decoration: underline;
}

.links__item:not(:last-child) {
    margin-right: 1rem;
}

.header__links .links__item--vacancies {
    margin-right: 2em;
}

.links__item--vacancies .links__link {
    opacity: 1;
}

.links__link .icon {
    display: block;
    margin: auto;
    width: 24px;
    height: 24px;
    fill: currentColor;
}

.header--sticky .links__link {
    color: #53bce6;
}

.header--sticky .links__link:hover {
    color: #03ade4;
}

.header--sticky .links__link .icon {
    width: 32px;
    height: 32px;
}

.hero {
    position: relative;
    height: 0;
    min-height: 190px;
    overflow: hidden;
    padding-top: calc(620 / 1272 * 100%);
    background: #b6c2ce url(/images/header.jpg) 50% 0 / cover no-repeat;
}

.hero .hero__content {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 5rem;
}

@media (min-width: 420px) {
    .hero .hero__content {
        padding-bottom: 16vw;
    }
}

@media (min-width: 1400px) {
    .hero .hero__content {
        padding-bottom: 11.5rem;
    }
}

.hero__title {
    font-size: clamp(22px, 5vw, 64px);
    line-height: 1.22;
    text-align: center;
}

@media (min-width: 490px) {

    .header__links .links__item--vacancies {
        font-size: 1.111rem;
    }

    .logo__image {
        height: 52px;
    }

    .links__link .icon {
        width: 32px;
        height: 32px;
    }

    .hero__content {
        padding-bottom: 1.5rem;
    }
}

@media (min-width: 769px) {
    .logo__image {
        height: 52px;
    }

    .links__link .icon {
        width: 48px;
        height: 48px;
    }

    .hero__content {
        padding-bottom: 1.5rem;
    }
}

@media (min-width: 1273px) {
    .header {
        margin-top: 2rem;
    }

    .header__content {
        height: 140px;
    }

    .header--sticky {
        margin: 0;;
    }

    .hero {
        border-radius: 20px 20px 0 0;
    }

    .header__title {
        font-size: 64px;
    }
}

.statistics {
    padding: 1.778rem 0;
    text-align: center;
}

.statistics__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    padding: 0 1rem;
    list-style: none;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 48px rgba(0, 0, 0, 0.08);
}

.statistics__item {
    padding: 1rem;
}

.statistics__data {
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: 2.667rem;
    font-weight: 900;
    line-height: 1.111;
    color: #53bce7;
}

.statistics__description {
    display: block;
    line-height: 1.333rem;
    color: #000;
}

@media (min-width: 660px) {
    .statistics {
        display: flex;
    }

    .statistics__list {
        grid-template-columns: repeat(4, 1fr);
    }

    .statistics__item {
        padding: 1.333rem;
    }

    .statistics__data {
        font-size: 3.556rem;
    }
}

@media (min-width: 769px) {
    .statistics {
        padding: 3.556rem 0;
    }
}
