/* Header */

.header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background-color: #ffffff00;
    transition: 0.6s;
}

.header__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 11vw;
    min-height: 52px;
    transition: 0.6s;
}

.header__logo {
    flex: none;
}

.logo__image {
    width: auto;
    height: 32px;
}

.header--sticky {
    position: fixed;
    z-index: 100;
    background-color: #fffffff2;
    box-shadow: 0 3px 4px 0 #00000028;
}

.header--sticky .header__content {
    height: 52px;
}

.header--sticky .logo__image {
    width: auto;
    height: 32px;
}

.header__links {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 0.78rem;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
}

.links__link {
    display: block;
    color: #53bce6;
    text-decoration: none;
}

.links__link:hover {
    color: #03ade4;
    text-decoration: none;
}

.links__item:not(:last-child) {
    margin-right: 1rem;
}

.header__links .links__item--vacancies {
    margin-right: 2em;
}

.links__item--vacancies .links__link {
    padding: 0 1rem;
    color: #000000;
    line-height: 1.7;
    background-color: #ffffff;
    border: 1px solid #53bce6;
    border-radius: 16px;
}

.links__item--vacancies .links__link:hover,
.links__item--vacancies .links__link:focus {
    color: #000000;
    background-color: #cbf0fd;
    border-color: #03ade4;
}

.links__item--vacancies .links__link:focus {
    outline: none;
}

.links__link .icon {
    display: block;
    width: 24px;
    height: 24px;
    margin: auto;
    fill: currentColor;
}

@media (min-width: 490px) {
    .links__item--vacancies .links__link {
        padding: 0 1.11rem;
        line-height: 2.29;
    }

    .links__link .icon {
        width: 32px;
        height: 32px;
    }
}

@media (min-width: 769px) {
    .logo__image {
        height: 52px;
    }
}

@media (min-width: 1273px) {
    .header__content {
        height: 112px;
    }
}
