.navigation {
    margin-top: -5rem;
    background-color: #f8f9fd;
}

@media (min-width: 420px) {
    .navigation {
        margin-top: -16vw;
    }
}

@media (min-width: 1400px) {
    .navigation {
        margin-top: -10rem;
    }
}

.navigation__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 -8px;
    padding: 1rem 0 2rem;
    list-style: none;
}

.navigation__item {
    flex: 1;
    margin: 8px 0 0 8px;
    padding: 8px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 48px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
}

.navigation__item::before {
    content: "";
    display: block;
    margin: 0 auto 8px ;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: cover;
}

.navigation__item--product::before {
    background-image: url("/images/product-nav.svg");
}

.navigation__item--people::before {
    background-image: url("/images/people-nav.svg");
}

.navigation__item--process::before {
    background-image: url("/images/process-nav.svg");
}

.navigation__link {
    display: block;
    margin: auto;
    padding: 4px;
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
    line-height: 1.6;
    font-weight: 600;
    text-align: center;
    color: #fff;
    text-decoration: none;
    border-radius: 40px;
    background-color: #009bec;
}

.navigation__link:hover {
    color: #fff;
    text-decoration: none;
    background-color: #0085ca;
}

.scroll-to {
    position: absolute;
    top: -52px;
}

@media (min-width: 540px) {
    .navigation__list {
        margin: 0 0 0 -12px;
    }

    .navigation__item {
        margin: 12px 0 0 12px;
        padding: 12px;
    }

    .navigation__link {
        padding: 8px;
        font-family: "Montserrat", sans-serif;
        font-size: 1rem;
    }

    .navigation__item::before {
        margin: 0 auto 12px ;
        width: 64px;
        height: 64px;
    }
}

@media (min-width: 769px) {
    .navigation__list {
        margin: 0 0 0 -30px;
        padding: 1.778rem 0;
    }

    .navigation__item {
        margin: 0 0 0 30px;
        padding: 24px;
    }

    .navigation__link {
        max-width: 13.33rem;
        padding: 10px 24px;
        font-size: 1.556rem;
        font-weight: 700;
    }

    .navigation__item::before {
        margin-bottom: 24px;
        width: 128px;
        height: 128px;
    }

}
