.navigation {
    width: 100%;
}

.navigation__list {
    display: flex;
    justify-content: center;
    margin: 0 0 5vw -3vw;
    padding: 0;
    list-style: none;
}

.navigation__item {
    flex: 0 1 184px;
    margin-left: 3vw;
}

.navigation__link {
    display: block;
    padding: 6px 8px;
    color: #ffffff;
    font-weight: 700;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    text-align: center;
    text-decoration: none;
    background-color: #009bec;
    border-radius: 40px;
}

.navigation__link:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #15a9f6;
}

.scroll-to {
    position: absolute;
    top: -52px;
}

@media (min-width: 540px) {
    .navigation__list {
        margin: 0 0 5vw -5vw;
    }

    .navigation__item {
        margin-left: 5vw;
    }

    .navigation__link {
        padding: 8px;
        font-weight: 700;
        font-size: clamp(1rem, 3vw, 2.11rem);
    }
}

@media (min-width: 769px) {
    .navigation__list {
        margin: 0 0 2rem -2rem;
    }

    .navigation__item {
        margin-left: 2rem;
    }

    .navigation__link {
        font-size: 1.11rem;
    }
}
