/* Page */

.page,
.page__body {
    min-height: 100vh;
}

.page {
    color: #464646;
    font-weight: 400;
    font-size: clamp(14px, 3vw, 18px);
    font-family: 'Nunito', sans-serif;
    background-color: #f8f9fd;
    scroll-behavior: smooth;
}

.page__body {
    margin: 0;
    line-height: 1.6;
}

.flow > * + * {
    margin-top: var(--flow-space, 1em);
}
