.section {
    padding: 1.78rem 0;
}

.section--people,
.section--progress,
.section--process,
.section--vacancies {
    background-color: #ffffff;
}

.section--about {
    background-color: #8b53b7;
}

.section__media {
    min-width: 0;
    max-width: 70vw;
    margin: 1rem auto 0;
}

.section--traditions .section__media {
    max-width: none;
}

@media (min-width: 769px) {
    .section {
        padding: 3.56rem 0;
    }

    .section__media {
        margin: 0;
    }

    .section--product .section__block {
        display: flex;
    }

    .section--product .section__description {
        order: 1;
        align-self: center;
    }

    .section--product .section__media {
        flex: 1 0 50%;
        margin-right: 3%;
    }

    .section--people .section__block {
        display: flex;
        align-items: center;
    }

    .section--people .section__description {
        margin-right: 3%;
    }

    .section--people .section__media {
        flex: 1 0 50%;
    }

    .section--traditions .section__block {
        display: flex;
    }

    .section--traditions .section__description {
        order: 1;
        align-self: center;
    }

    .section--traditions .section__media {
        flex: 1 0 50%;
        margin-right: 3%;
    }
}

@media (min-width: 1000px) {
    .section--product .section__media {
        flex-basis: 57%;
    }

    .section--people .section__media {
        flex-basis: 64%;
    }
}

.progress__column {
    min-height: 11ch;
    padding-left: 20%;
    background: 0 0 no-repeat;
    background-size: 15% auto;
}

.progress__column:nth-child(1) {
    background-image: url('/images/progress1.svg');
}

.progress__column:nth-child(2) {
    background-image: url('/images/progress2.svg');
}

.progress__column:nth-child(3) {
    background-image: url('/images/progress3.svg');
}

@media (min-width: 768px) {
    .section--progress .section__title {
        text-align: center;
    }

    .progress {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
    }

    .progress__column {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 110px 0 0;
        background: 50% 0 no-repeat;
        background-size: 96px 96px;
    }

    .progress__title {
        text-align: center;
    }
}

@media (max-width: 767px) {
    .progress__column br {
        display: none;
    }
}

.benefits__column--health {
    padding-left: 20%;
    background: url('/images/benefits1.svg') 0 0 no-repeat;
    background-size: 15% auto;
}

.benefits__column--lifestyle {
    padding-left: 20%;
    background: url('/images/benefits2.svg') 0 0 no-repeat;
    background-size: 15% auto;
}

@media (min-width: 768px) {
    .benefits {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
    }

    .benefits__column--health {
        max-width: 44ch;
        padding-left: 40%;
        background-size: 33%;
    }

    .benefits__column--lifestyle {
        max-width: 46ch;
        margin-left: auto;
        padding-left: 44%;
        background-size: 38%;
    }
}

.lead {
    font-weight: 300;
    font-size: 1.8rem;
}

.footnote {
    font-size: 0.78rem;
}

.process__title {
    color: #5e7389;
    font-size: 1.56rem;
}

@media (min-width: 768px) {
    .section--process .section__title {
        text-align: center;
    }

    .section--process .section__title::after {
        left: 50%;
        transform: translateX(-50%);
    }

    .process {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
    }

    .progress__column {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 110px 0 0;
        background: 50% 0 no-repeat;
        background-size: 96px 96px;
    }

    .process__title {
        text-align: center;
    }
}

@media (max-width: 767px) {
    .process__column br {
        display: none;
    }
}

.vacancies__list {
    padding: 0;
    font-size: 1.56rem;
    list-style: none;
}

.vacancies__item {
    position: relative;
    padding-left: 40px;
}

.vacancies__item::before {
    position: absolute;
    top: 1.2rem;
    left: 0;
    width: 23px;
    height: 32px;
    background: url('/images/hot.svg') 0 0 no-repeat;
    content: '';
}

.vacancies__item,
.vacancies__item::before {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.vacancies__item + .vacancies__item {
    border-top: 1px solid #d0d2e3;
}

.section--about {
    color: #ffffff;
}

.section--about .lead {
    max-width: 800px;
    margin: 0 auto 2rem;
    text-align: center;
}

.about__list {
    padding: 0;
    list-style: none;
}

.about__item + .about__item {
    margin-top: 1rem;
}

.about__list .about__link {
    display: flex;
    align-items: center;
}

.about__link,
.about__link:hover {
    color: #ffffff;
}

.about__link .icon {
    flex: none;
    width: 48px;
    height: 48px;
    margin-right: 1rem;
    opacity: 0.7;
    transition: 0.2s linear;
}

.about__link:hover .icon {
    opacity: 1;
}

.about__note {
    font-size: 1.11rem;
    text-align: center;
}

@media (min-width: 769px) {
    .section--about .section__block {
        display: flex;
    }

    .section--about .section__description {
        order: 1;
        align-self: center;
    }

    .section--about .section__media {
        flex: 1 0 40%;
        margin-right: 3%;
    }

    .about__list--bottom {
        display: flex;
        justify-content: space-evenly;
    }

    .about__list--bottom .about__item + .about__item {
        margin-top: 0;
    }

    .about__list--bottom .about__link {
        display: inline;
    }

    .about__list--bottom .about__link .icon {
        margin: 2rem auto 1rem;
    }

    .about__list--bottom .about__item {
        flex: 1;
        min-width: 0;
        max-width: 22ch;
        text-align: center;
    }

    .about__note {
        font-size: 1.11rem;
        text-align: center;
    }
}
