.swiper-container,
.teams__swiper {
    text-rendering: auto;
}

.teams__swiper {
    position: relative;
    z-index: 1;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    overflow: hidden;
    list-style: none;
}

.teams__item {
    display: inline-block;
    box-sizing: border-box;
    min-width: 5rem;
    margin: 0.4rem 0.4rem 0 0;
    padding: 0.2rem 1rem;
    overflow: visible;
    color: #000000;
    font-weight: 600;
    font-size: 0.78rem;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    white-space: nowrap;
    text-align: center;
    text-transform: none;
    text-decoration: none;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #53bce6;
    border-radius: 20px;
    cursor: pointer;
    transition: linear 0.2s;
}

.teams__item:hover,
.teams__item:focus {
    background-color: #cbf0fd;
    border-color: #03ade4;
}

.teams__item:focus {
    outline: none;
}

.teams__item--active {
    background-color: #53bce6;
}

.teams__item--active,
.teams__item--active:hover {
    background-color: #53bce6;
}

.team {
    padding-top: 0.2rem;
}

.teams__swiper .swiper-button-next,
.teams__swiper .swiper-button-prev {
    position: absolute;
    top: 0;
    width: 32px;
    height: 32px;
    margin-top: 0;
    color: #ffffff;
    background-color: #53bce6;
    border-radius: 50%;
    opacity: 0.7;
}

.teams__swiper .swiper-button-next:hover,
.teams__swiper .swiper-button-prev:hover {
    opacity: 1;
}

.teams__swiper .swiper-button-next.swiper-button-disabled,
.teams__swiper .swiper-button-prev.swiper-button-disabled {
    opacity: 0.35;
    filter: grayscale(1);
}

.teams__swiper .swiper-button-prev {
    right: 3rem;
    left: auto;
}

.teams__swiper .swiper-button-next {
    right: 0;
}

.teams__swiper .swiper-button-next::after,
.teams__swiper .swiper-button-prev::after {
    font-weight: 700;
    font-size: 16px;
}

.teams__swiper .swiper-button-next::after {
    transform: translateX(0.09rem);
}

.teams__swiper .swiper-button-prev::after {
    transform: translateX(-0.09rem);
}
