/* Statistics */

.statistics,
.statistics + .video {
    margin: 1.78rem 0 0;
    text-align: center;
}

.statistics__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    padding: 0 1rem;
    list-style: none;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 48px #00000014;
}

.statistics__item {
    padding: 1rem;
}

.statistics__data {
    display: block;
    color: #53bce7;
    font-weight: 900;
    font-size: 2.67rem;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.11;
}

.statistics__description {
    display: block;
    color: #000000;
    line-height: 1.3;
}

@media (min-width: 660px) {
    .statistics {
        display: flex;
    }

    .statistics__list {
        grid-template-columns: repeat(4, 1fr);
    }

    .statistics__item {
        padding: 1.33rem;
    }

    .statistics__data {
        font-size: 3.56rem;
    }
}

@media (min-width: 769px) {
    .statistics,
    .statistics + .video {
        margin: 3.56rem 0 0;
    }
}
