<section class="section section--about">
    <div class="content">
        <div class="scroll-to" id="about"></div>
        <div class="flow">
            <p class="lead">Подробнее о&nbsp;нас в&nbsp;профессиональных сообществах и&nbsp;социальных сетях</p>
            <div class="section__block">
                <div class="section__description">
                    <ul class="about__list about__list--top flow">
                        <li class="about__item">
                            <a class="about__link" href="https://habr.com/ru/company/plesk/">
                                <svg class="icon icon--habr" focusable="false" aria-hidden="true"><use xlink:href="/images/symbols.svg#habr"></use></svg>
                                Развиваем блог на&nbsp;Habr, регулярно публикуем актуальные статьи от&nbsp;програм-менеджеров и&nbsp;разработчиков.
                            </a>
                        </li>
                        <li class="about__item">
                            <a class="about__link" href="https://www.youtube.com/channel/UCHh7eL9l5mBji1CJMqlUpOw">
                                <svg class="icon icon--youtube" focusable="false" aria-hidden="true"><use xlink:href="/images/symbols.svg#youtube"></use></svg>
                                Рассказываем о&nbsp;технологиях, процессах и&nbsp;команде на&nbsp;Youtube.
                            </a>
                        </li>
                        <li class="about__item">
                            <a class="about__link" href="https://t.me/qa_siberia" target="_blank" rel="noopener noreferrer">
                                <svg class="icon icon--telegram" focusable="false" aria-hidden="true"><use xlink:href="/images/symbols.svg#telegram"></use></svg>
                                Делимся опытом в&nbsp;самом большом сибирском QA-чатике в&nbsp;телеграм.
                            </a>
                        </li>
                        <li class="about__item">
                            <a class="about__link" href="https://github.com/plesk" target="_blank" rel="noopener noreferrer">
                                <svg class="icon icon--github" focusable="false" aria-hidden="true"><use xlink:href="/images/symbols.svg#github"></use></svg>
                                Участвуем в&nbsp;Open Source-проектах и&nbsp;развиваем собственные.
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="section__media">
                    <img src="/images/about.svg" width="391" alt="" aria-hidden="true">
                </div>
            </div>
        </div>
    </div>
</section>
