<section class="section section--about">
    <div class="content">
        <div class="scroll-to" id="about"></div>
        <div class="flow">
            <p class="lead">Вы&nbsp;можете больше узнать о&nbsp;компании в&nbsp;наших материалах и&nbsp;социальных сетях</p>
            <div class="section__block">
                <div class="section__description">
                    <ul class="about__list about__list--top flow">
                        <li class="about__item">
                            <a class="about__link" href="https://habr.com/ru/company/plesk/">
                                <svg class="icon icon--pen" focusable="false" alia-hidden="true"><use xlink:href="/images/symbols.svg#pen"></use></svg>
                                Развиваем блог на&nbsp;Habr, регулярно публикуем актуальные статьи от&nbsp;програм-менеджеров и&nbsp;разработчиков.
                            </a>
                        </li>
                        <li class="about__item">
                            <a class="about__link" href="https://www.youtube.com/channel/UCHh7eL9l5mBji1CJMqlUpOw">
                                <svg class="icon icon--youtube" focusable="false" alia-hidden="true"><use xlink:href="/images/symbols.svg#youtube"></use></svg>
                                Рассказываем о&nbsp;технологиях, процессах и&nbsp;команде на&nbsp;Youtube.
                            </a>
                        </li>
                        <li class="about__item">
                            <a class="about__link" href="https://t.me/qa_siberia" target="_blank" rel="noopener noreferrer">
                                <svg class="icon icon--telegram" focusable="false" alia-hidden="true"><use xlink:href="/images/symbols.svg#telegram"></use></svg>
                                Делимся опытом в&nbsp;самом большом сибирском QA-чатике в&nbsp;телеграм.
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="section__media">
                    <img src="/images/about.svg" width="391" alt="" aria-hidden="true">
                </div>
            </div>

            <p class="about__note">Актуальные новости, события из жизни Plesk можно найти в соц. сетях по хештегам #plesk и #pleskians Присоединяйтесь</p>

            <ul class="about__list about__list--bottom">
                <li class="about__item">
                    <a class="about__link" href="#">
                        <svg class="icon icon--facebook" focusable="false" alia-hidden="true"><use xlink:href="/images/symbols.svg#facebook"></use></svg>
                        Группа о&nbsp;жизни Pleskians в&nbsp;Facebook
                    </a>
                </li>
                <li class="about__item">
                    <a class="about__link" href="https://www.instagram.com/pleskians/">
                        <svg class="icon icon--instagram" focusable="false" alia-hidden="true"><use xlink:href="/images/symbols.svg#instagram"></use></svg>
                        Фотографии и&nbsp;истории в&nbsp;Instagram
                    </a>
                </li>
                <li class="about__item">
                    <a class="about__link" href="#" target="_blank" rel="noopener noreferrer">
                        <svg class="icon icon--telegram" focusable="false" alia-hidden="true"><use xlink:href="/images/symbols.svg#telegram"></use></svg>
                        Про митапы и&nbsp;гильдии в&nbsp;Nsk IT&nbsp;Events&nbsp;&mdash; Telegram
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
