<section class="section section--banner">
    <div class="content">
        <a href="#codefest" class="banner">
            <img src="/images/codefest.svg" width="54" alt="" aria-hidden="true">
            <div>
                <h2>Мы&nbsp;на&nbsp;Codefest&nbsp;11</h2>
                <p>29-30 мая 2021, Новосибирск, Экспоцентр</p>
            </div>
        </a>
    </div>
</section>
