<section class="section section--benefits">
    <div class="content">
        <div class="scroll-to" id="benefits"></div>
        <div class="flow">
            <h3 class="section__title title">Бенефиты</h3>
            <div class="columns benefits">
                <div class="benefits__column benefits__column--health column">
                    <h4 class="benefits__title title">Забота о&nbsp;вашем здоровье</h4>
                    <ul class="list">
                        <li>Расширенная программа ДМС</li>
                        <li>Персональный доктор в&nbsp;офисе</li>
                        <li>Специальные программы страхования членов семей сотрудников</li>
                    </ul>
                </div>
                <div class="benefits__column benefits__column--lifestyle column">
                    <h4 class="benefits__title title">Поддержка активного образа жизни</h4>
                    <ul class="list">
                        <li>Программа компенсаций любых занятий спортом</li>
                        <li>Корпоративный бассейн</li>
                        <li>Корпоративный футбол</li>
                        <li>Специальные скидки для Plesk по&nbsp;программе здоровья</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
