<section class="section section--codefest">
    <div class="content">
        <div class="scroll-to" id="codefest"></div>
        <h3 class="section__title section__title--center title">Digital detox на&nbsp;CodeFest&nbsp;11</h3>
        <div class="flow">
            <h4 class="codefest-program__title">29 мая</h4>
            <table class="codefest-program__table">
                <caption>Делимся опытом</caption>
                <tr>
                    <td class="codefest-program__time-cell">
                        <time title="29 мая 14:00 (GMT+7)" datetime="2021-05-29T14:00+07:00">14:00</time>
                        <div class="codefest-program__hall">Зал &#8470;&nbsp;4</div>
                    </td>
                    <td>
                        <div class="codefest-program__subtitle">Доклад</div>
                        <a href="https://11.codefest.ru/lecture/1782" target="_blank" rel="noopener noreferrer">Всё через одно место: собираем информацию по&nbsp;безопасности от&nbsp;разных инструментов DevSecOps</a>
                    </td>
                    <td class="codefest-program__speaker-cell">
                        <div class="codefest-program__subtitle">Спикер</div>
                        <div class="codefest-program__speaker"><a href="https://11.codefest.ru/lecture/1782" target="_blank" rel="noopener noreferrer">Павел Василевич</a></div>
                    </td>
                </tr>
                <tr>
                    <td class="codefest-program__time-cell">
                        <time title="29 мая 15:00 (GMT+7)" datetime="2021-05-29T15:00+07:00">15:00</time>
                        <div class="codefest-program__hall">Зал &#8470;&nbsp;7</div>
                    </td>
                    <td>
                        <div class="codefest-program__subtitle">Квартирник</div>
                        <a href="https://11.codefest.ru/lecture/1772" target="_blank" rel="noopener noreferrer">Психология крайнего за&nbsp;результат</a>
                    </td>
                    <td class="codefest-program__speaker-cell">
                        <div class="codefest-program__subtitle">Спикеры</div>
                        <div class="codefest-program__speaker"><a href="https://11.codefest.ru/lecture/1772" target="_blank" rel="noopener noreferrer">Алексей Вохмянин, Ольга Перевозкина, Олег Неумывакин (Plesk)<br> Никита Скурыгин (Е2е4)<br> Надежда Семенова (СберЗдоровье)</a></div>
                    </td>
                </tr>
            </table>

            <table class="codefest-program__table">
                <caption>Цифровая детоксикация</caption>
                <tr>
                    <td class="codefest-program__time-cell">
                        <time title="29 мая 11:40 (GMT+7)" datetime="2021-05-29T11:40+07:00">11:40</time>
                    </td>
                    <td>
                        Чемпионат по Класку
                    </td>
                </tr>
                <tr>
                    <td class="codefest-program__time-cell">
                        <time title="29 мая 12:40 (GMT+7)" datetime="2021-05-29T12:40+07:00">12:40</time>
                    </td>
                    <td>
                        Чемпионат по собиранию уток из Lego
                    </td>
                </tr>
                <tr>
                    <td class="codefest-program__time-cell">
                        <time title="29 мая 13:40 (GMT+7)" datetime="2021-05-29T13:40+07:00">13:40</time>
                    </td>
                    <td>
                        Чемпионат по Эластику
                    </td>
                </tr>
                <tr>
                    <td class="codefest-program__time-cell">
                        <time title="29 мая 14:40 (GMT+7)" datetime="2021-05-29T14:40+07:00">14:40</time>
                    </td>
                    <td>
                        Чемпионат по Рошфору
                    </td>
                </tr>
                <tr>
                    <td class="codefest-program__time-cell">
                        <time title="29 мая 15:40 (GMT+7)" datetime="2021-05-29T15:40+07:00">15:40</time>
                    </td>
                    <td>
                        Музыкальный джем
                    </td>
                </tr>
                <tr>
                    <td class="codefest-program__time-cell">
                        <time title="29 мая 17:40 (GMT+7)" datetime="2021-05-29T17:40+07:00">17:40</time>
                    </td>
                    <td>
                        Alias/Шляпа&nbsp;&mdash; объясни слово из&nbsp;айтишного словаря. Первый круг: словами без использования однокоренных слов, второй круг&nbsp;&mdash; одним словом, третий круг&nbsp;&mdash; жестами.
                    </td>
                </tr>
            </table>

            <h4 class="codefest-program__title">30 мая</h4>
            <table class="codefest-program__table">
                <caption>Делимся опытом</caption>
                <tr>
                    <td class="codefest-program__time-cell">
                        <time title="29 мая 15:40 (GMT+7)" datetime="2021-05-29T15:40+07:00">15:40</time>
                        <div class="codefest-program__hall">Зал &#8470;&nbsp;7</div>
                    </td>
                    <td>
                        <div class="codefest-program__subtitle">Квартирник</div>
                        <a href="https://11.codefest.ru/lecture/1816" target="_blank" rel="noopener noreferrer">Как сделать большую задачу и&nbsp;сохранить штаны чистыми</a>
                    </td>
                    <td class="codefest-program__speaker-cell">
                        <div class="codefest-program__subtitle">Спикер</div>
                        <div class="codefest-program__speaker"><a href="https://11.codefest.ru/lecture/1816" target="_blank" rel="noopener noreferrer">Денис Горбатых</a></div>
                    </td>
                </tr>
            </table>

            <table class="codefest-program__table">
                <caption>Цифровая детоксикация</caption>
                <tr>
                    <td class="codefest-program__time-cell">
                        <time title="30 мая 11:40 (GMT+7)" datetime="2021-05-30T11:40+07:00">11:40</time>
                    </td>
                    <td>
                        Чемпионат по игре 4 в ряд
                    </td>
                </tr>
                <tr>
                    <td class="codefest-program__time-cell">
                        <time title="30 мая 12:40 (GMT+7)" datetime="2021-05-30T12:40+07:00">12:40</time>
                    </td>
                    <td>
                        Alias/Шляпа&nbsp;&mdash; объясни слово из&nbsp;айтишного словаря. Первый круг: словами без использования однокоренных слов, второй круг&nbsp;&mdash; одним словом, третий круг&nbsp;&mdash; жестами
                    </td>
                </tr>
                <tr>
                    <td class="codefest-program__time-cell">
                        <time title="30 мая 13:40 (GMT+7)" datetime="2021-05-30T13:40+07:00">13:40</time>
                    </td>
                    <td>
                        Чемпионат по Эквилибру
                    </td>
                </tr>
                <tr>
                    <td class="codefest-program__time-cell">
                        <time title="30 мая 14:40 (GMT+7)" datetime="2021-05-30T14:40+07:00">14:40</time>
                    </td>
                    <td>
                        Играем в Дженгу
                    </td>
                </tr>
                <tr>
                    <td class="codefest-program__time-cell">
                        <time title="30 мая 15:00 (GMT+7)" datetime="2021-05-30T15:00+07:00">15:00</time>
                    </td>
                    <td>
                        Музыкальный джем
                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>
