<nav class="navigation">
    <div class="content">
        <ul class="navigation__list">
            <li class="navigation__item navigation__item--product" data-aos="fade-up" data-aos-duration="500">
                <a href="#product" class="navigation__link" lang="en">Product</a>
            </li>
            <li class="navigation__item navigation__item--people" data-aos="fade-up" data-aos-duration="1000">
                <a href="#people" class="navigation__link" lang="en">People</a>
            </li>
            <li class="navigation__item navigation__item--process" data-aos="fade-up" data-aos-duration="1500">
                <a href="#process" class="navigation__link" lang="en">Process</a>
            </li>
        </ul>
    </div>
</nav>
