<section class="section section--people">
    <div class="content">
        <div class="scroll-to" id="people"></div>
        <div class="flow">
            <h2 class="section__title section__title--center title" lang="en">People</h2>
            <ul class="list">
                <li>Департамент хостинговых решений</li>
                <li>Департамент консультирования и&nbsp;сопровождения продуктов (Инженеры сопровождения продуктов)</li>
                <li>Административный департамент (Administration, Finance, HR, IT)</li>
            </ul>
        </div>
    </div>
</section>
