<section class="section section--people">
    <div class="content">
        <div class="scroll-to" id="people"></div>
        <div class="section__block">
            <div class="section__description">
                <h2 class="section__title title" lang="en">People</h2>
                <ul class="list">
                    <li>Департамент хостинговых решений</li>
                    <li>Департамент консультирования и&nbsp;сопровождения продуктов (Инженеры сопровождения продуктов)</li>
                    <li>Административный департамент (Administration, Finance, HR, IT)</li>
                </ul>
            </div>
            <div class="section__media">
                <img src="/images/people.svg" width="754" alt="" aria-hidden="true">
            </div>
        </div>
    </div>
</section>
