<section class="section section--process">
    <div class="content">
        <div class="scroll-to" id="process"></div>
        <div class="flow">
            <h2 class="section__title title" lang="en">Process</h2>
            <p class="lead">Процесс разработки Plesk основан на&nbsp;адаптации Agile практик. Команды широко используют Scrum подход для инкрементальной разработки и&nbsp;Kanban-подход для непрерывного совершенствования.</p>
            <img class="process-image" src="/images/process.png" width="1147" height="447" aria-hidden="true" loading="lazy" alt="">
            <div class="columns process">
                <div class="process__column column">
                    <h3 class="process__title title">Как мы&nbsp;<br> работаем</h3>
                    <ul class="list">
                        <li>Формируем желаемый беклог релиза</li>
                        <li>Делаем грубую оценку (sizing)</li>
                        <li>Разрабатываем итерациями от&nbsp;1-й до&nbsp;6-ти недель*</li>
                        <li>Стабилизируем и&nbsp;тестируем продукт во&nbsp;всех возможных конфигурациях</li>
                        <li>Выпускаем публичную preview-версию продукта</li>
                        <li>Собираем обратную связь</li>
                        <li>Обеспечиваем максимальное качество и&nbsp;выпускаем релиз</li>
                    </ul>
                </div>
                <div class="process__column column">
                    <h3 class="process__title title">Как обеспечиваем качество</h3>
                    <ul class="list">
                        <li>Проводим ревью кода, перед попаданием в&nbsp;основной бранч коммит получает одобрение как минимум ещё одного разработчика</li>
                        <li>Осуществляем статическую проверку кода через SonarQube</li>
                        <li>Запускаем функциональные и&nbsp;юнит-тесты. Их&nbsp;реализует отдельная команда и&nbsp;собственный внутренний датацентр с&nbsp;пулом серверов для обслуживания инфраструктуры запуска тестов</li>
                        <li>Проверяем QA-инженерами</li>
                    </ul>
                </div>
                <div class="process__column column">
                    <h3 class="process__title title">Какие инструменты используем</h3>
                    <ul class="list">
                        <li>Для ведения задач и&nbsp;bug report&rsquo;ов используем JIRA</li>
                        <li>В&nbsp;качестве системы версионирования кода используем Git</li>
                        <li>Внутренняя документация ведется в&nbsp;Confluence</li>
                        <li>Для коммуникаций в&nbsp;реальном времени используем Slack</li>
                        <li>Каждая команда использует свой стек технологий, <a href="#teams">подробнее здесь</a></li>
                    </ul>
                </div>
            </div>
            <p class="footnote">* релиз-циклы отличаются между продуктами и&nbsp;командами&nbsp;&mdash; месяц, неделю, а&nbsp;иногда и&nbsp;меньше. Это определяется балансом пользовательской потребности и&nbsp;технической возможности. &laquo;Тяжелые&raquo; продукты требуют тщательного тестирования и&nbsp;пользователи не&nbsp;готовы часто обновляться. &laquo;Легкие&raquo; продукты существенно проще в&nbsp;разработке и&nbsp;тестировании, а&nbsp;также пользователи проще относятся к&nbsp;их&nbsp;обновлению.</p>
        </div>
    </div>
</section>
