<section class="section section--product">
    <div class="content">
        <div class="scroll-to" id="product"></div>
        <div class="section__block flow" data-aos="fade-up" data-aos-duration="1000">
            <div class="section__description flow">
                <h2 class="section__title title" lang="en">Product</h2>
                <p>Plesk&nbsp;&mdash; это панель управления хостингом, которая помогает пользователю в&nbsp;управлении системными службами. Plesk предназначен для обеспечения безопасности и&nbsp;автоматизации работы веб-серверов, сокращает время на&nbsp;обслуживание и&nbsp;позволяет веб-разработчикам, дизайнерам и&nbsp;системным администраторам сконцентрироваться на&nbsp;их&nbsp;задачах.</p>
            </div>
            <div class="section__media">
                <img src="/images/product.svg" width="485" alt="" aria-hidden="true">
            </div>
        </div>

        <div class="statistics">
            <ul class="statistics__list">
                <li class="statistics__item" data-aos="zoom-in">
                    <span class="statistics__data">6%</span>
                    <span class="statistics__description">мирового<br> интернета</span>
                </li>
                <li class="statistics__item" data-aos="zoom-in">
                    <span class="statistics__data">32</span>
                    <span class="statistics__description">языка<br> в&nbsp;140&nbsp;странах</span>
                </li>
                <li class="statistics__item" data-aos="zoom-in">
                    <span class="statistics__data">380</span>
                    <span class="statistics__description">тысяч<br> серверов</span>
                </li>
                <li class="statistics__item" data-aos="zoom-in">
                    <span class="statistics__data">11</span>
                    <span class="statistics__description">миллионов<br> веб-сайтов</span>
                </li>
            </ul>
        </div>

         {#<div class="video" data-aos="fade-up" data-aos-duration="1000">
            <a class="video__link" href="https://youtu.be/_5VbbaqwDdM">
                <picture>
                    <source srcset="https://i.ytimg.com/vi_webp/_5VbbaqwDdM/maxresdefault.webp" type="image/webp">
                    <img class="video__media" src="https://i.ytimg.com/vi/_5VbbaqwDdM/maxresdefault.jpg" alt="Саша Редикульцев про AWS Certified Solutions Architect Professional, саппорт и QA | Plesk">
                </picture>
            </a>
            <button class="video__button" aria-label="Запустить видео">
                <svg width="68" height="48" viewBox="0 0 68 48"><path class="video__button-shape" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"></path><path class="video__button-icon" d="M 45,24 27,14 27,34"></path></svg>
            </button>
        </div>#}
    </div>
</section>
