<section class="section section--progress">
    <div class="content">
        <div class="scroll-to" id="progress"></div>
        <div class="flow">
            <h3 class="section__title title">Обучение и&nbsp;развитие</h3>
            <div class="columns progress">
                <div class="progress__column column">
                    <h4 class="progress__title title">Обучение&nbsp;<br> проф. направлений</h4>
                    <ul class="list">
                        <li>Лидерство</li>
                        <li>Управление командой</li>
                        <li>Публичные выступления</li>
                        <li>Сертификации LPIC,&nbsp;<br> RedHat, Microsoft,&nbsp;<br> ISTQB etc.</li>
                    </ul>
                </div>
                <div class="progress__column column">
                    <h4 class="progress__title title">Внутреннее&nbsp;<br> и&nbsp;внешнее обучение</h4>
                    <ul class="list">
                        <li class="list__title">Внутренние</li>
                        <li>research дни</li>
                        <li>техтолки по&nbsp;пятницам</li>
                        <li class="list__title">Внешние</li>
                        <li>конференции</li>
                        <li>митапы</li>
                    </ul>
                </div>
                <div class="progress__column column">
                    <h4 class="progress__title title">Английский язык&nbsp;<br> для решения бизнес-задач</h4>
                    <ul class="list">
                        <li>Специальный проект&nbsp;<br> Perfectum school</li>
                        <li>Программа SkyEng</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
