<section class="section section--social">
    <div class="content">
        <div class="flow">
            <p class="social__note">Актуальные новости, события из жизни Plesk можно найти в соц. сетях по хештегам #plesk и #pleskians Присоединяйтесь</p>

            <ul class="social__list about__list--bottom">
                <li class="social__item">
                    <a class="social__link" href="#">
                        <svg class="icon icon--facebook" focusable="false" aria-hidden="true"><use xlink:href="/images/symbols.svg#facebook"></use></svg>
                        Группа о&nbsp;жизни Pleskians в&nbsp;Facebook
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" href="https://www.instagram.com/pleskians/">
                        <svg class="icon icon--instagram" focusable="false" aria-hidden="true"><use xlink:href="/images/symbols.svg#instagram"></use></svg>
                        Фотографии и&nbsp;истории в&nbsp;Instagram
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" href="#" target="_blank" rel="noopener noreferrer">
                        <svg class="icon icon--telegram" focusable="false" aria-hidden="true"><use xlink:href="/images/symbols.svg#telegram"></use></svg>
                        Про митапы и&nbsp;гильдии в&nbsp;Nsk IT&nbsp;Events&nbsp;&mdash; Telegram
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
