<section class="section section--teams">
    <div class="content">
        <div class="scroll-to" id="teams"></div>
        <h3 class="section__title title">Команды</h3>
        <div class="teams flow">
            <div class="teams__menu">
                <div class="teams__list"></div>
            </div>
            <div class="teams__swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="team flow">
                            <h4>Core</h4>
                            <p>Работа в&nbsp;команде Core&nbsp;&mdash; это работа в&nbsp;самом сердце Plesk, создание основного продукта компании и&nbsp;тесное взаимодействие со&nbsp;всеми другими командами, это возможность принимать решения, оказывающие влияние на&nbsp;работу всего продукта. В&nbsp;команде занимаются фронтендом, бэкендом, разработкой API и&nbsp;SDK, DevOps&rsquo;ят свои сервисы. Продукт большой и&nbsp;сложный, надо многое знать и&nbsp;уметь делать большие и&nbsp;сложные изменения&nbsp;&mdash; это является непрерывной точкой роста для инженеров.</p>
                            <p>Команда состоит из&nbsp;порядка 30&nbsp;инженеров, разбитых на&nbsp;функциональные подкоманды, способные автономно выполнять полный цикл разработки по&nbsp;задачам. Среди инженеров есть различные специализации: QA-инженеры; разработчики с&nbsp;фокусом на&nbsp;PHP, JavaScript; инженеры с&nbsp;сильным background&rsquo;ом в&nbsp;Linux или Windows; технические лидеры.</p>
                            <p>Большая часть продукта пишется на&nbsp;PHP и&nbsp;JavaScript. Для слоя взаимодействия с&nbsp;системными сервисами на&nbsp;Linux используется в&nbsp;основном C, C++, Python. В&nbsp;рамках пакетирования используются Bash, Buck, Packer. Взаимодействие с&nbsp;Windows-сервисами организуется через прослойки написанные на&nbsp;C++ и&nbsp;C#. При разработке множественных внешних и&nbsp;внутренних сервисов применяются и&nbsp;другие языки, фреймворки и&nbsp;технологии: Node.js, Go, Ruby, Docker, Kubernetes, AWS.</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="team flow">
                            <h4>MetaCloud</h4>
                            <p>Команда MetaCloud занимается разработкой web-сервисов (SaaS-сервисов), которые расширяют экосистему панели управления хостингом. Кроме разработки, команда обеспечивает бесперебойную работу этих сервисов, которые должны выдерживать высокую нагрузку, и&nbsp;связанные CI/CD-процессы.</p>
                            <p>В&nbsp;качестве примеров сервисов, над которыми работает команда можно привести следующие: сервис по&nbsp;созданию screenshot&rsquo;ов, сервис по&nbsp;проведению A/B экспериментов, сервис по&nbsp;самообслуживанию клиентов и&nbsp;еще ряд других. В&nbsp;некоторых сервисах акцент делается на&nbsp;backend и&nbsp;предоставление API-для интеграции, в&nbsp;других&nbsp;&mdash; присутствует frontend и&nbsp;клиенты работают с&nbsp;полноценной панелью управления. Практически в&nbsp;каждом сервисе присутствуют вызовы для разработчиков в&nbsp;той или иной форме: сервис по&nbsp;созданию screenshot&rsquo;ов должен создавать более 1&nbsp;500&nbsp;000 скриншотов в&nbsp;сутки, сервис по&nbsp;проведению A/B экспериментов в&nbsp;пиковые моменты может испытывать нагрузку в&nbsp;5000&nbsp;RPS, каждый сервис требует тщательной проработки аспектов безопасности и&nbsp;отказоустойчивости.</p>
                            <p><b>Языки и&nbsp;технологии:</b> Node.js, TypeScript, React, Go, AWS, Docker, Terraform, Grafana</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="team flow">
                            <h4>Modules</h4>
                            <p>Работа в&nbsp;Modules&nbsp;&mdash; это возможность делать продукты, которые действительно нравятся пользователям. Помогают им&nbsp;достигать целей меньшими усилиями, устраняют препятствия и&nbsp;делают возможным&nbsp;то, что ранее казалось недоступным&nbsp;&mdash; в&nbsp;конечном счете, делают мир немногожечко лучше. Инженеры команды Modules, а&nbsp;это более 20&nbsp;разработчиков и&nbsp;тестировщиков, используют Plesk&nbsp;&mdash; открытую и&nbsp;расширяемую платформу&nbsp;&mdash; для построения инструментов, решающих прикладные задачи: развертывание и&nbsp;обслуживание веб-сайтов, анализ производительности, мониторинг, защита от&nbsp;атак и&nbsp;многое, многое другое.</p>
                            <p>WordPress Toolkit&nbsp;&mdash; один из&nbsp;продуктов, разрабатываемых и&nbsp;поддерживаемых ребятами из&nbsp;Modules&nbsp;&mdash; начал свое существование как расширение Plesk, но&nbsp;сейчас шагнул за&nbsp;границы платформы, превратившись в&nbsp;самостоятельное решение наиболее востребованных задач WordPress хостинга. Согласно последним данным, более четырех с&nbsp;половиной миллионов WordPress сайтов, хостящихся на&nbsp;более чем 200 тысячах серверов Plesk и&nbsp;cPanel по&nbsp;всему миру, обслуживаются WordPress Toolkit. И&nbsp;мы&nbsp;верим, что эти цифры продолжат расти.</p>
                            <p>Мы&nbsp;выкладываемся на&nbsp;максимум в&nbsp;решении задач, стоящих перед нашими пользователями&nbsp;&mdash; экспериментируем, исследуем альтернативы, действуем итеративно, опираясь на&nbsp;обратную связь и&nbsp;данные телеметрии. Выстраиваем процесс доставки ценности таким образом, чтобы он&nbsp;работал без сбоев&nbsp;&mdash; эффективно, эффектно и&nbsp;комфортно для всех его участинков. А&nbsp;если сбои случается, мы, как команда, проводим ретроспективу и&nbsp;договариваемся о&nbsp;корректировках, если они необходимы. Мы&nbsp;стремимся к&nbsp;кроссфункциональсти и&nbsp;уважаем автономию, наделяя продуктовые команды возможностью принимать самостоятельные решения. Мы&nbsp;делаем работу видимой на&nbsp;досках Kanban и&nbsp;следуем лучшим практикам Lean, устраняя препятствия в&nbsp;создании действительно важных и&nbsp;полезных вещей&nbsp;&mdash; того, что ценят пользователи наших продуктов.</p>
                            <p><b>Языки и&nbsp;технологии:</b> PHP, JavaScript, React, Python, Go, Ruby.</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="team flow">
                            <h4>DevOps</h4>
                            <p>Команда DevOps ни&nbsp;в&nbsp;коем случае не&nbsp;выступает более модным названием для админов. Вместо этого команда помогает проводить DevOps трансформацию для всех остальных команд&nbsp;&mdash; создает лучшие практики и&nbsp;приемы по&nbsp;запуску и&nbsp;эксплуатации сервисов в&nbsp;облачной инфраструктуре, улучшению CI/CD&nbsp;процесса, помогает создавать новые наиболее сложные сервисы.</p>
                            <p><b>Языки и&nbsp;технологии:</b> AWS, Azure, Terraform, Kubernetes, Jenkins, Grafana, Ansible и&nbsp;многое другое.</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="team flow">
                            <h4>Security</h4>
                            <p>Если продукт достаточно популярен, то&nbsp;желающих его взломать будет достаточно. Этому активно противодействует команда безопасности&nbsp;&mdash; отслеживает и&nbsp;анализирует уязвимости в&nbsp;используемых библиотеках и&nbsp;внешних компонентах, следит за&nbsp;их&nbsp;своевременным обновлением, анализирует код, обучает разработчиков безопасным практикам, а&nbsp;также работает с&nbsp;&laquo;этичными хакерами&raquo; для обнаружения уязвимостей и&nbsp;слабых мест раньше, чем злоумышленники.</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="team flow">
                            <h4>Licensing &amp;&nbsp;Partner Services</h4>
                            <p>Команда отвечает за&nbsp;лицензирование всех продуктов Plesk и&nbsp;расширений к&nbsp;ним. Мы&nbsp;готовим данные для биллинга и&nbsp;ловим за&nbsp;руку пиратов. Мы&nbsp;собираем телеметрию с&nbsp;наших продуктов во&nbsp;всем мире и&nbsp;строим отчеты для принятия стратегических решений топ-менеджментом. Мы&nbsp;предоставляем данные аналитикам, которые строят гипотезы и&nbsp;находят способы сделать продукты Plesk еще лучше и&nbsp;интереснее.</p>
                            <p>Для компания важна бесперебойная работа этой системы и&nbsp;это заложено в&nbsp;ее&nbsp;архитектуру. Иногда можно допускать down time даже для продукта Plesk, но&nbsp;наша система должна работать 24/7. Мы&nbsp;сами отвечаем за&nbsp;свои сервисы и&nbsp;сами определяем оптимальный путь их&nbsp;развития. Нам чужд подход &laquo;берем больше, кидаем дальше&raquo;. Мы&nbsp;принимаем взвешенные решения, за&nbsp;которые будем благодарны сами себе в&nbsp;будущем и&nbsp;сами определяем процессы, по&nbsp;которым работаем, потому что ценим качество и&nbsp;работу в&nbsp;спокойной, сосредоточенной обстановке.</p>
                            <p>Мы&nbsp;используем микросервисный подход в&nbsp;архитектуре. Большое внимание уделяем автоматизации и&nbsp;тестированию. Как и&nbsp;в&nbsp;других командах, QA&nbsp;вовлечены в&nbsp;работу уже с&nbsp;этапа постановки задачи, помогают продумать требования и&nbsp;тест-кейсы, работают в&nbsp;паре с&nbsp;разработчиком по&nbsp;мере реализации фичи.</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="team flow">
                            <h4>UI/UX Design</h4>
                            <p>Отдел UI/UX дизайна занимается проектированием взаимодействия пользователей с&nbsp;продуктами и&nbsp;сервисами, разрабатываемыми в&nbsp;нашей компании</p>
                            <p>Основные направления работы отдела:</p>
                            <p>&mdash;&nbsp;Дизайн графических пользовательских интерфейсов</p>
                            <p>&mdash;&nbsp;Исследование пользователей, расположенных по&nbsp;всему миру</p>
                            <p>&mdash;&nbsp;Юзабилити тестирование предлагаемых решений</p>
                            <p>&mdash;&nbsp;mdash;&nbsp;Составление спецификаций и&nbsp;требований на&nbsp;разработку</p>
                            <p>Удобный, функциональный и&nbsp;привлекательный интерфейс уже давно стал неотъемлемой частью любого успешного продукта и&nbsp;может стать определяющим при его выборе. Поэтому результат работы команды дизайна особенно важен для того, чтобы наши пользователи получали пользу и&nbsp;удовольствие от&nbsp;использования наших продуктов.</p>
                            <p>В&nbsp;настоящее время у&nbsp;нас открыта вакансия на&nbsp;позицию&nbsp;UX дизайнера&nbsp;&mdash; присоединяйся к&nbsp;нашей команде!</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="team flow">
                            <h4>Solus</h4>
                            <p>Продукты нашей команды упрощают управление виртуальными серверами, позволяют его клиентам продавать виртуальные сервера. Продукты присоединились к&nbsp;семейству Plesk относительно недавно, поэтому команда очень молодая и&nbsp;динамичная, активно пробует новые практики и&nbsp;технологии.</p>
                            <p><b>Языки и&nbsp;технологии:</b> PHP, Golang, JavaScript, TypeScript, ReactJS</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="team flow">
                            <h4>Tools &amp;&nbsp;Infrastructure</h4>
                            <p>Команда Tools &amp;&nbsp;Infrastructure отвечает за&nbsp;разработку, внедрение и&nbsp;поддержку различных инструментов и&nbsp;сервисов, использующихся в&nbsp;процессе разработки и&nbsp;тестирования продуктов компании. Также в&nbsp;задачи команды входит развертывание и&nbsp;мониторинг серверов и&nbsp;виртуальных сред.</p>
                            <p><b>Языки и&nbsp;технологии:</b> Go, JavaScript, Perl, PHP, Python, Ansible, AWS, Cobbler, Docker, Jenkins, K8S, KVM, Prometheus, Puppet, Virtuozzo, Zabbix.</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="team flow">
                            <h4>Technical writing &amp;&nbsp;Localization</h4>
                            <p>Технические писатели отвечают за&nbsp;все текстовые коммуникации компании с&nbsp;пользователями: документацию, release notes, тексты интерфейса. Вся документация пишется сразу на&nbsp;английском языке, потому что английский понимает б&oacute;льшая часть наших пользователей. Хорошая документация и&nbsp;хорошие тексты в&nbsp;интерфейсе помогают пользователям быстрее осваивать наши продукты и&nbsp;самим решать свои задачи, а&nbsp;компании это позволяет тратить меньше денег на&nbsp;техническую поддержку.</p>
                            <p>Применяем подходы DocOps и&nbsp;Docs as&nbsp;Code. Работаем в&nbsp;Agile в&nbsp;параллели с&nbsp;разработкой, собираем аналитику и&nbsp;обратную связь от&nbsp;пользователей, выделяем время на&nbsp;обновление и&nbsp;улучшение существующей документации. Исходники в&nbsp;формате reStructuredText хранятся в&nbsp;Git, ревью документов происходит через пулл-реквесты в&nbsp;Bitbucket, сборка происходит автоматически по&nbsp;merge.</p>
                            <p>Переводом документации и&nbsp;интерфейса на&nbsp;остальные языки занимается отдельная команда переводчиков из&nbsp;штатных сотрудников и&nbsp;контракторов из&nbsp;разных стран. Мы&nbsp;переводим документацию на&nbsp;10&nbsp;языков, а&nbsp;интерфейс на&nbsp;32&nbsp;языка.</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="team flow">
                            <h4>Program Managers</h4>
                            <p>Plesk Program Manager&nbsp;&mdash; в&nbsp;нашем случае это Technical Product Manager в&nbsp;Plesk.</p>
                            <p>Product Manager&nbsp;&mdash; потому что занимается созданием ценности продукта, продумывает, как сделать так, чтобы пользователям было удобно, чтобы пользователей было больше. Доводилось видеть продукты, сделанные неудобно? Так вот именно Program Manager отвечает за&nbsp;то, чтобы продукт решал задачи пользователей наилучшим образом. Изучает потребности, формулирует решения, проверяет результат.</p>
                            <p>А&nbsp;Technical&nbsp;&mdash; потому что наша аудитория&nbsp;&mdash; это разработчики сайтов и&nbsp;системные администраторы. PM&nbsp;должен отлично их&nbsp;понимать и&nbsp;говорить с&nbsp;ними на&nbsp;одном языке. Nginx&nbsp;/ PHP-FPM&nbsp;/ MySQL&nbsp;/ производительность&nbsp;/ безопасность&nbsp;/ обновления&nbsp;/ мониторинг&nbsp;&mdash; вот в&nbsp;каких терминах видят ценность продукта наши клиенты.</p>
                            <p>Здесь слушают и&nbsp;спрашивают клиентов, генерируют и&nbsp;проверяют гипотезы, делают выводы из&nbsp;метрик, ищут точки роста и&nbsp;планируют роадмапы.</p>
                            <p>Здесь важно быть самостоятельным, иметь системное мышление, умение критически смотреть на&nbsp;идеи и&nbsp;решения, откидывать то&nbsp;что не&nbsp;работает и&nbsp;оставлять только то&nbsp;что работает.</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>

    </div>
</section>
