<section class="section section--vacancies">
    <div class="content">
        <div class="scroll-to" id="vacancies"></div>
        <div class="flow">
            <h3 class="section__title title">Вакансии</h3>
            <ul class="vacancies__list">
                <li class="vacancies__item"><a href="https://novosibirsk.hh.ru/vacancy/44024307">Security engineer</a></li>
                <li class="vacancies__item"><a href="https://novosibirsk.hh.ru/vacancy/42389523">Linux backend developer (C/C++/Python)</a></li>
                <li class="vacancies__item"><a href="https://novosibirsk.hh.ru/vacancy/42033411">Senior PHP Developer (Core)</a></li>
                <li class="vacancies__item"><a href="https://novosibirsk.hh.ru/vacancy/43405448">Tech Lead (Core)</a></li>
                <li class="vacancies__item"><a href="https://novosibirsk.hh.ru/vacancy/42220380">Senior PHP/Python developer (Tools)</a></li>
                <li class="vacancies__item"><a href="https://novosibirsk.hh.ru/vacancy/43514484">Technical Writer</a></li>
                <li class="vacancies__item"><a href="https://novosibirsk.hh.ru/vacancy/41637062">Senior developer PHP/JS (Modules)</a></li>
                <li class="vacancies__item"><a href="https://novosibirsk.hh.ru/vacancy/43405893">Java Developer (Key Administrator)</a></li>
                <li class="vacancies__item"><a href="https://novosibirsk.hh.ru/vacancy/42420786">DevOps Engineer (Core Team)</a></li>
                <li class="vacancies__item"><a href="https://novosibirsk.hh.ru/vacancy/42105232">Senior JavaScript Developer (Core Team)</a></li>
                <li class="vacancies__item"><a href="https://novosibirsk.hh.ru/vacancy/42539888">Senior Frontend/JavaScript Developer (SaaS services)</a></li>
                <li class="vacancies__item"><a href="https://novosibirsk.hh.ru/vacancy/43514844">QA Engineer (Key Administrator)</a></li>
            </ul>
        </div>
    </div>
</section>
