<section class="section section--vacancies">
    <div class="content">
        <div class="scroll-to" id="vacancies"></div>
        <div class="flow">
            <h3 class="section__title title">Вакансии</h3>
            <ul class="vacancies__list">
                <li class="vacancies__item"><a href="https://novosibirsk.hh.ru/vacancy/45741509">Product Manager</a></li>            
                <li class="vacancies__item"><a href="https://novosibirsk.hh.ru/vacancy/46318560">Security engineer</a></li>
                <li class="vacancies__item"><a href="https://novosibirsk.hh.ru/vacancy/42105232">Senior JavaScript Developer (Core Team)</a></li>
                <li class="vacancies__item"><a href="https://novosibirsk.hh.ru/vacancy/42033411">Senior PHP Developer (Core)</a></li>
                <li class="vacancies__item"><a href="https://novosibirsk.hh.ru/vacancy/43405448">Tech Lead (Core)</a></li>
                <li class="vacancies__item"><a href="https://novosibirsk.hh.ru/vacancy/46661630">DevOps engineer</a></li>
                <li class="vacancies__item"><a href="https://novosibirsk.hh.ru/vacancy/47421068">Full stack PHP/JavaScript developer (Modules)</a></li>
                <li class="vacancies__item"><a href="https://novosibirsk.hh.ru/vacancy/47390367">Middle Developer PHP/JS (SolusIO)</a></li>
                <li class="vacancies__item"><a href="https://novosibirsk.hh.ru/vacancy/44361762">UX designer</a></li>
                <li class="vacancies__item"><a href="https://novosibirsk.hh.ru/vacancy/44612135">Global Service Desk Engineer</a></li>
            </ul>
        </div>
    </div>
</section>
