/* Fonts */

@import 'fonts.css';

/* Vendor */

@import 'vendor/swiper-bundle.min.css';

/* Blocks */

@import 'blocks/reset.css';
@import 'blocks/visually-hidden.css';
@import 'blocks/page.css';
@import 'blocks/content.css';
@import 'blocks/header.css';
@import 'blocks/hero.css';
@import 'blocks/navigation.css';
@import 'blocks/section.css';
@import 'blocks/statistics.css';
@import 'blocks/video.css';
@import 'blocks/slider.css';
@import 'blocks/footer.css';
@import 'blocks/svroll-up.css';
