<!DOCTYPE html>
<html class="page" lang="ru">
<head>
    <title>{{ site.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="{{ site.keywords }}">
    <link rel="stylesheet" href="/styles/styles.css">

    {% include 'partials/open-graph.njk' %}

    <link rel="canonical" href="{{ site.url }}" />
    <link rel="icon" href="/favicon.ico">
    <link rel="icon" type="image/svg+xml" href="/images/icons/icon.svg">
    <link rel="apple-touch-icon" href="/images/icons/180.png">
    <link rel="manifest" href="/manifest.json">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6NYSCRFSG0"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-6NYSCRFSG0');
    </script>
    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window, document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1028404827698292');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=1028404827698292&ev=PageView&noscript=1"
        /></noscript>
    <!-- End Facebook Pixel Code -->
</head>
<body class="page__body">
    <div class="page__wrapper">
        {% include 'partials/header.njk' %}

        {{ content | safe }}

        {% include 'partials/footer.njk' %}
    </div>
    <script type="module" src="/scripts/index.js"></script>
</body>
</html>
