<!DOCTYPE html>
<html class="page" lang="ru">
<head>
    <title>{{ site.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" href="/styles/styles.css">

    {% include 'partials/open-graph.njk' %}

    <link rel="canonical" href="{{ site.url }}" />
    <link rel="icon" href="/favicon.ico">
    <link rel="icon" type="image/svg+xml" href="/images/icons/icon.svg">
    <link rel="apple-touch-icon" href="/images/icons/180.png">
    <link rel="manifest" href="/manifest.json">
</head>
<body class="page__body">
    <div class="page__wrapper">
        {% include 'partials/header.njk' %}

        {{ content | safe }}

        {% include 'partials/footer.njk' %}
    </div>
    <script type="module" src="/scripts/index.js"></script>
</body>
</html>
