<footer class="footer">
    <div class="footer__content content">
        <p class="footer__copy">
            <span class="footer__organization">&copy;&nbsp;2021 Plesk International GmbH. All rights reserved.</span>
        </p>
    </div>
</footer>
