<header class="header">
    <div class="header__content content">
        <div class="header__logo logo">
            <a class="logo__link" href="/">
                <img class="logo__image" src="/images/logo.svg" width="124" height="52" alt="Логотип Plesk">
            </a>
        </div>
        <ul class="header__links links">
            <li class="links__item links__item--vacancies">
                <a class="links__link" href="#vacancies">Вакансии</a>
            </li>
            <li class="links__item links__item--mail">
                <a class="links__link" href="mailto:hr@plesk.com" target="_blank" rel="noopener noreferrer">
                    <svg class="icon icon-telegram">
                        <title>Написать нам</title>
                        <use xlink:href="/images/symbols.svg#mail"/>
                    </svg>
                </a>
            </li>
            <li class="links__item links__item--telegram">
                <a class="links__link" href="https://t.me/pleskians" target="_blank" rel="noopener noreferrer">
                    <svg class="icon icon-telegram">
                        <title>Телeграм</title>
                        <use xlink:href="/images/symbols.svg#telegram"/>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</header>

<div class="hero">
    <div class="hero__content content">
        <h1 class="hero__title title" lang="en">Work smarter, not harder!</h1>
    </div>
</div>
