<meta property="og:type" content="website">
<meta property="og:locale" content="ru">
<meta property="og:site_name" content="Plesk.Tech" />
<meta property="og:title" content="{{ site.title or title }}">
<meta property="og:description" content="{{ site.description }}">
{# <meta property="og:image" content="{{ site.socialImage }}">
<meta property="og:image:alt" content="Картинка для {{ site.title }}" /> #}
<meta property="og:url" content="{{ site.url }}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ site.title }}">
<meta name="twitter:description" content="{{ site.description }}">
<meta name="twitter:site" content="{{ site.url }}">
{# <meta name="twitter:image" content="{{ site.socialImage }}"> #}
